{
	"defaultSeverity": "warning",
	"rules": {
		"at-rule-no-vendor-prefix": [
			true, {
				"message": "@规则不应使用私有属性前缀"
			}
		],
		"block-no-empty": [
			true, {
				"message": "不允许空的语句块",
				"severity": "error"
			}
		],
		"color-no-invalid-hex": [
			true, {
				"message": "无效的十六进制颜色",
				"severity": "error"
			}
		],
		"declaration-bang-space-after": [
			"never", {
				"message": "声明中的感叹号之后不要空格"
			}
		],
		"declaration-bang-space-before": [
			"always", {
				"message": "声明中的感叹号之前必须空一格"
			}
		],
		"declaration-colon-newline-after": [
			"always-multi-line", {
				"message": "声明写为多行时，冒号之后需要换行"
			}
		],
		"declaration-colon-space-after": [
			"always-single-line", {
				"message": "声明写为单行时，冒号之后必须空格"
			}
		],
		"declaration-colon-space-before": [
			"never", {
				"message": "声明中的冒号之前不要空格"
			}
		],
		"declaration-no-important": [
			true, {
				"message": "声明中禁用`!important`"
			}
		],
		"function-calc-no-unspaced-operator": [
			true, {
				"message": "运算符前后必须空格"
			}
		],
		"function-comma-newline-after": [
			"always-multi-line", {
				"message": "函数写为多行时，逗号后需要换行"
			}
		],
		"function-comma-newline-before": [
			"never-multi-line", {
				"message": "函数写为多行时，逗号前不要换行"
			}
		],
		"function-comma-space-after": [
			"always-single-line", {
				"message": "函数写为单行时，逗号后必须空格"
			}
		],
		"function-comma-space-before": [
			"never", {
				"message": "函数中的逗号前不要空格"
			}
		],
		"function-linear-gradient-no-nonstandard-direction": [
			true, {
				"message": "`linear-gradient` 方向声明语法错误",
				"severity": "error"
			}
		],
		"function-max-empty-lines": [
			0, {
				"message": "函数中最大允许0个空行"
			}
		],
		"function-parentheses-newline-inside": [
			"always-multi-line", {
				"message": "函数写为单行时，括号内侧必须换行"
			}
		],
		"function-parentheses-space-inside": [
			"never", {
				"message": "函数的括号内侧不要空格"
			}
		],
		"function-url-quotes": [
			"always", {
				"message": "url必须用引号包裹"
			}
		],
		"function-whitespace-after": [
			"always", {
				"message": "函数后必须用空格分隔"
			}
		],
		"indentation": [
			"tab", {
				"message": "使用tab缩进"
			}
		],
		"max-empty-lines": [
			2, {
				"message": "最大允许2个空行"
			}
		],
		"max-nesting-depth": [
			4, {
				"message": "最大允许4层嵌套"
			}
		],
		"media-feature-colon-space-after": [
			"always", {
				"message": "@媒体查询中冒号之后必须空格"
			}
		],
		"media-feature-colon-space-before": [
			"never", {
				"message": "@媒体查询冒号之前不要空格"
			}
		],
		"media-feature-name-no-vendor-prefix": [
			true, {
				"message": "@媒体查询不应使用私有属性前缀"
			}
		],
		"no-descending-specificity": [
			true, {
				"message": "权重较低的选择器，不得覆盖权重较高的选择器"
			}
		],
		"no-duplicate-selectors": [
			true, {
				"message": "不能使用重复的选择器"
			}
		],
		"no-empty-source": [
			true, {
				"message": "不能一整行全是空白"
			}
		],
		"no-eol-whitespace": [
			true, {
				"message": "行尾不能有多余的空格"
			}
		],
		"no-extra-semicolons": [
			true, {
				"message": "不允许重复的分号"
			}
		],
		"number-leading-zero": [
			"never", {
				"message": "小数不允许使用前导0"
			}
		],
		"number-no-trailing-zeros": [
			true, {
				"message": "小数数字不能以0结尾"
			}
		],
		"property-no-vendor-prefix": [
			true, {
				"message": "属性名不应使用私有属性前缀"
			}
		],
		"selector-list-comma-newline-after": [
			"always-multi-line", {
				"message": "选择器写成多行时，逗号后必须换行"
			}
		],
		"selector-list-comma-newline-before": [
			"never-multi-line", {
				"message": "选择器写成多行时，逗号前不要换行"
			}
		],
		"selector-list-comma-space-after": [
			"always-single-line", {
				"message": "选择器写成单行时，逗号后必须空格"
			}
		],
		"selector-list-comma-space-before": [
			"never", {
				"message": "选择器中的逗号前不要空格"
			}
		],
		"selector-no-vendor-prefix": [
			true, {
				"message": "选择器不应使用私有属性前缀"
			}
		],
		"string-quotes": [
			"double", {
				"message": "应该使用双引号包裹字符串"
			}
		],
		"value-no-vendor-prefix": [
			true, {
				"message": "属性值不应使用私有属性前缀"
			}
		]
	}
}