::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

input:invalid, select:invalid {
	box-shadow: 0 0 6px red;
}

html, body {
	overflow: hidden;
	height: 100;
}

aside {
	box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
	border-right: 1px solid #ccc;
	margin-right: 15px;
	resize: horizontal;
	overflow: hidden;
	overflow-y: auto;
	min-width: 15vw;
	height: 100%;
	height: 100vh;
	float: left;
}

aside select {
	overflow: visible;
	min-width: 100%;
	outline: none;
	border: 0;
}

section {
	padding-right: 15px;
	overflow: auto;
	height: 100%;
	height: 100vh;
}

section * {
	font-size: inherit;
}

section > div {
	display: none;
}

section fieldset form {
	max-height: 50vh;
	overflow-y: auto;
}

section [name="tabs"] {
	display: none;
}

section [name="tabs"]:checked + div {
	display: block;
}

section fieldset {
	font-size: 12px;
}

section fieldset [type="number"] {
	width: 3em;
}

fieldset span, fieldset fieldset {
	display: inline-block;
	white-space: nowrap;
}

fieldset span, fieldset select[name="value"] {
	margin: 0 1em;
	min-width: 24em;
}

nav {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

nav label {
	border-radius: 3px 3px 0 0;
	border: 1px solid #ccc;
	display: inline-block;
	border-bottom-color: rgba(0, 0, 0, 0);
	margin-right: 15px;
	margin-bottom: -1px;
	padding: 0 15px;
	line-height: 2;
}

nav .curr {
	border-bottom-color: #fff;
}
